<html>
    <head>
        <title> {{ title}} </title>
        <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    </head>
    <body>
        <div class = 'container'>
            <div style='margin-left: 10px'>
            <h1>Acme</h1>
            <ul class='nav nav-tabs'>
                <li><a href='/'>Home</a></li>
                <li><a href='/products'>Products</a></li>
            </ul>
            <div class='container'>
                <div style='margin-top: 10px'>
                {% block main %}
                Default Content
                {%endblock%}
                </div>
            </div>
        </div>
    </body>
</html>